<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<title>Ejemplo Django</title>
</head>
<body>
<div class="jumbotron">
		<div class="container text-center">
			<h1>Empresa Colegios de Cádiz</h1>
		</div>
	</div>


  
<div class="container">
		<br />
		<div class="panel panel-default">
			<div class="panel-heading">
      {% if empl.business %}
      <img src="{{empl.photo.url}}" class="img-circle" width="100" height="100">
      <p>  {{ empl.firstName }} works in {{empl.business.name}} </p>
      
      {% else %}
      <p> {{empl}} doesn´t work in any business </p>
      {% endif %}
      <p> Date: {{ empl.date }}
   

      </div>
			
    </div>

</div>
</body>
</html>