<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<title>Ejemplo Django</title>
</head>
<body>
<div class="jumbotron">
		<div class="container text-center">
    
			<h1>Empresa Colegios de Cádiz</h1>
      {% load static %}
      <img src="{% static 'img/logo.png' %}"/>
		</div>
	</div>


  
<div class="container">
		<br />
		<div class="panel panel-default">
			<div class="panel-heading">
       <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <p>      
        <input type="submit" class="btn btn-primary btn-block" value="Confirmar"/>
        </form>
      </div>
			
    </div>

</div>
</body>
</html>